{% extends "base.html" %}

{% block content %}
<h1>Административная панель</h1>

<section>
    <h2>Темы</h2>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for section in sections %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ section.title }}</td>
            <td>
                <form action="{{ url_for('delete_section', section_id=section.id) }}" method="post">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

<section>
    <h2>Вопросы</h2>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Содержание</th>
            <th>Принадлежит теме</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for question in topics %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ question.content }}</td>
            <td>{{ section_topics[question.id] }}</td>
            <td>
                <form action="{{ url_for('delete_question', question_id=question.id) }}" method="post">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}
